h3.filename {{filename}}
p Filesize:
    |
    span.filesize {{filesize}}b
mat-checkbox([checked]="isValidFile",[disabled]="!isValidFile",labelPosition="after",(change)="onChangeSelection($event)") Import this File