input(type="file",id="file-input",(change)="onUpload($event)",multiple,accept=".json")
h3 Contents of the file:

button( (click)="onClickMe($event)") Click me!

file-preview-cmp(*ngFor="let uploadFile of uploadFiles",[uploadFile]="uploadFile")