h3 {{uploadFile?.filename}}
app-file-upload-progress(*ngIf="isFileProcessing",[uploadFile]="uploadFile")
app-file-upload-error(*ngIf="isFileErrored",[uploadFile]="uploadFile")
app-file-upload-loaded(*ngIf="isFileLoaded",[uploadFile]="uploadFile")