mat-slide-toggle([checked]="isSelected",[disabled]="!isValidFile",labelPosition="after",(change)="onChangeSelection($event)")
h3 {{uploadFile?.filename}}
app-file-upload-progress(*ngIf="isFileProcessing")
app-file-upload-error(*ngIf="isFileErrored")