mat-slide-toggle([checked]="isValidFile",[disabled]="!isValidFile",labelPosition="after",(change)="onChangeSelection($event)")
div.content
    div.title-bar
        h3.filename {{filename}}
        span.right-title
            span.filesize {{filesize}}
            | &nbsp;Bytes
    div.errors(*ngIf="!isValidFile")
        h4 The file could not be read due to the following errors
        ul
            li.error-detail(*ngFor="let err of uploadFile.errors") {{err?.message}}