ng-container(*ngIf="uploadFiles.length==0")
    h3 Select the Files you want to import
    input.inputbodyheight(type="file",id="file-input",(change)="onUpload($event)",multiple,accept=".json")
ng-container(*ngIf="uploadFiles.length>0")
    h3 Contents of the file:
    app-file-preview(*ngFor="let uploadFile of uploadFiles",[uploadFile]="uploadFile")
    h3 Import Files
    p(*ngIf="!hasSelectedFiles") No valid files provided and import is disabled
    button(mat-flat-button,color="primary",(click)="clickImport($event)",[disabled]="hasSelectedFiles") Import