mat-toolbar
    button(mat-button,label="First",[routerLink]="['/profile']") Content 1
    button(mat-button,label="First",[routerLink]="['/analyze/upload']") Upload
    button(mat-button,label="First",[routerLink]="['/login/google']") Login
    button(mat-button,label="First",[routerLink]="['/bodymetrics/insert']") Insert Body Metrics
    button(mat-button,label="First",[routerLink]="['/bodymetrics/weight/chart']") Body Metrics Chart
div.router-container 
    router-outlet