app-route-loading-indicator
mat-toolbar.mat-elevation-z6
    button(mat-button,label="Polar Upload",[routerLink]="['/polar/upload']") Upload Polar
    button(mat-button,label="First",[routerLink]="['/profile']") Profile
    button(mat-button,label="First",[routerLink]="['/analyze/upload']") Upload
    button(mat-button,label="First",[routerLink]="['/login/google']") Login
    button(mat-button,label="First",[routerLink]="['/bodymetrics/insert']") Insert Body Metrics
    button(mat-button,label="First",[routerLink]="['/bodymetrics/weight/chart']") Body Metrics Chart
div.router-container.mat-elevation-z4
    router-outlet