mat-toolbar
    button(mat-button,label="First",[routerLink]="['/profile']") Content 1
    button(mat-button,label="First",[routerLink]="['/analyze/upload']") Upload
div.router-container 
    router-outlet