mat-toolbar
    button(mat-button,label="First",[routerLink]="['/profile']") Content 1
    button(mat-button,label="First",[routerLink]="['/analyze/upload']") Content 2
    button(mat-button,label="First",[routerLink]="['/analyze']") Content 3
profile-view
div.router-container 
    router-outlet