form([formGroup]="metricsForm",(ngSubmit)="onSubmit()")
    mat-form-field(appearance="outline")
        mat-label Height
        input.inputbodyheight(matInput,placeholder="Weight",type="number", formControlName="bodyweight")
        mat-hint Hint
    mat-form-field
        select.inputbodyheightunit(matNativeControl,required,formControlName="bodyweightunit")
            option(value="kilogram") KG
            option(value="stone") Stone
            option(value="pound") lbs
    br
    mat-form-field(appearance="outline")
        mat-label Height
        input.inputbodyweight(matInput,placeholder="Height",type="number",formControlName="bodyheight")
        mat-hint Hint
    mat-form-field
        select.inputbodyweightunit(matNativeControl,required,formControlName="bodyheightunit")
            option(value="meter") Meter
            option(value="inch") Inch
            option(value="feet") Feet
    br
    mat-form-field(appearance="outline")
        mat-label Body Fat Percentage
        input.inputbodyfat(matInput,placeholder="Body Fat",type="number", formControlName="bodyfat")
        mat-icon(matSuffix) sentiment_very_satisfied
        mat-hint Hint
    br
    mat-form-field
        input.inputdate(matInput,[matDatepicker]="picker1",placeholder="Date",formControlName="date")
        mat-datepicker-toggle(matSuffix,[for]="picker1")
        mat-datepicker(#picker1)
        mat-hint Hint
    mat-form-field
        mat-label Body Fat Percentage
        input.inputtime(matInput,placeholder="Time",type="time", formControlName="time")
        mat-icon(matSuffix) sentiment_very_satisfied
        mat-hint Hint
    br
    button(mat-button) Send