form([formGroup]="metricsForm",(ngSubmit)="onSubmit()")
    mat-form-field
        input.inputdate(matInput,[matDatepicker]="picker1",placeholder="Date",formControlName="startdate")
        mat-datepicker-toggle(matSuffix,[for]="picker1")
        mat-datepicker(#picker1)
        mat-hint Hint
    mat-form-field
        input.inputdate(matInput,[matDatepicker]="picker2",placeholder="Date",formControlName="enddate")
        mat-datepicker-toggle(matSuffix,[for]="picker2")
        mat-datepicker(#picker2)
        mat-hint Hint
    button(mat-icon-button,type="submit")
        mat-icon(aria-label="Refresh the graph") favorite
canvas.graph(chartcmp,height="300px",[chartConfiguration]="chartConfig")

button(mat-button,(click)="createDatasource()") Create Fat Datasource
br
button(mat-button,(click)="createFatDatasource()") Create Fat Datasource
br
button(mat-button,(click)="insertRandomWeights()") Insert Random points