:host {
    transition: all .2s ease-in-out;
    display: block;
    background:transparent;
    border-radius: 4px 4px 4px 4px;
    border:1px solid #00000022;
}
:host(:hover){
    border:1px solid #00000011;
    background:#0000000D;
    box-shadow:0 2px 4px -1px rgba(0,0,0,.2), 
    0 4px 5px 0 rgba(0,0,0,.14),
     0 1px 10px 0 rgba(0,0,0,.12);
     cursor: pointer;
}